
body {	
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

a:hover {text-decoration: none;}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}


/* -- telyphone area start -- */

.phone-wrapper ul li {
    display: inline-block;
    padding: 15px;
    color: #fff;
}

.phone {
    background: aqua;
}

/* -- telyphone area end -- */

/* -- header area start -- */
.header-wrapper {
    text-align: center;
}

.header-wrapper ul li {
    display: inline-block;
}

.header-wrapper ul li a {
    display: inline-block;
    font-size: 18px;    
    color: #fff;
    padding: 15px 15px;
}

.header {
    background-color: green;
}
/* -- header area end -- */













